# Lab 3 - Video Game Reviews

In [126]:
from math import nan

In [127]:
import pandas as pd

## Import Data

In [128]:
df = pd.read_csv('imdb-videogames.csv')

In [129]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [130]:
df.shape

(20805, 17)

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [132]:
df.certificate.value_counts()

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           229
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: certificate, dtype: int64

## Clean Data

Clean and Fix Rating

In [144]:

df.rating = df.rating.str.replace('*', '')
df.rating = pd.to_numeric( df.rating)
df.rating.mean()

/var/folders/70/bymcptk91fx2jgyj9tpvkq0m0000gn/T/ipykernel_10875/2424188636.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.rating = df.rating.str.replace('*', '')

7.047793483882048

Clean and Fix Votes

In [134]:
df.votes = df.votes.str.replace(',', '')
df.votes = pd.to_numeric(df.votes)
df.votes.mean()

630.9875883468368

## Questions

### 1. What is the average rating for Action games?

In [135]:
df.drop(df[df["Action"] == False].index, inplace = True)
df.rating.mean()

nan

### 2. What is the average rating of games after 2010? What is the average rating of games before (and including) 2010?

In [136]:
avg = df[df.year >= 2010]
avg.rating.mean()

nan

### 3. What games include "Fallout" in their title?

In [137]:
df = pd.read_csv('imdb-videogames.csv')

colNames = df.name[df.name.str.contains(pat = 'Fallout')]
len(colNames)

44

### 4. What is the most common certificate for Sci-Fi games?

In [138]:
df = pd.read_csv('imdb-videogames.csv')

df.drop(df[df["Sci-Fi"] == False].index, inplace = True)
df.pivot_table(columns=['certificate'], aggfunc='size')

certificate
12             3
AO             5
Approved       1
E            185
E10+          94
EC             3
G              1
GA             5
K-A           41
M            339
MA-13          4
MA-17          1
Not Rated     29
PG-13          1
T            424
Unrated       46
dtype: int64

### 5. What percent of Thiller games have M or AO certificate?

In [139]:
df = pd.read_csv('imdb-videogames.csv')

thriller_m_ao = df[ (df.Thriller==True) & (df.certificate=='M') | (df.certificate=='AD')]
len(thriller_m_ao)

thriller = df[(df.Thriller==True)]
len(thriller)

len(thriller_m_ao) / len(thriller)

0.32122370936902483

### 6. What is the mean and median rating for Family games? for Action games?

In [140]:
family_rating = df[df.Family == True]
action_rating = df[df.Action == True]
print("Family Numbers")
print(family_rating.rating.mean())
print(family_rating.rating.median())
print("Action Numbers")
print(action_rating.rating.mean())
print(action_rating.rating.median())

Family Numbers

TypeError: can only concatenate str (not "int") to str

### 7. Which game from 2018 got the most votes?

In [ ]:
movies_2018 = df[df.year == 2018]
movies_2018[['name', 'votes']].max()

/var/folders/70/bymcptk91fx2jgyj9tpvkq0m0000gn/T/ipykernel_10875/511245199.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  movies_2018[['name', 'votes']].max()

name    Zootopia: Dreaming People
dtype: object

### 8. What is the average rating for each genre (Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci-Fi, and Thriller)?

In [ ]:
df = pd.read_csv('imdb-videogames.csv')

action_avg = df[df.Action==True].rating.mean()
print(action_avg)
adventure_avg = df[df.Adventure==True].rating.mean()
print(adventure_avg)
comedy_avg = df[df.Comedy==True].rating.mean()
print(comedy_avg)
Crime_avg = df[df.Crime==True].rating.mean()
print(Crime_avg)
family_avg = df[df.Family==True].rating.mean()
print(family_avg)
fantasy_avg = df[df.Fantasy==True].rating.mean()
print(fantasy_avg)
mystery_avg = df[df.Mystery==True].rating.mean()
print(mystery_avg)
scifi_avg = df[df["Sci-Fi"]==True].rating.mean()
print(scifi_avg)
thriller_avg = df[df.Thriller==True].rating.mean()
print(thriller_avg)

TypeError: can only concatenate str (not "int") to str

### 9. Which year's games received the most votes?

In [146]:
df = pd.read_csv('imdb-videogames.csv')

year_votes = df.groupby("year").votes.sum()
year_vote_df = pd.DataFrame(year_votes)
most_votes = year_vote_df[year_vote_df == year_vote_df.max()]
most_votes.dropna()

/var/folders/70/bymcptk91fx2jgyj9tpvkq0m0000gn/T/ipykernel_10875/2500342803.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  most_votes = year_vote_df[year_vote_df == year_vote_df.max()]
/var/folders/70/bymcptk91fx2jgyj9tpvkq0m0000gn/T/ipykernel_10875/2500342803.py:5: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  most_votes = year_vote_df[year_vote_df == year_vote_df.max()]

Empty DataFrame
Columns: [votes]
Index: []

### 10. What's the average number of votes for games that are not Action games?

In [ ]:
not_action = df[df.Action == False]
not_action.votes.mean()

TypeError: can only concatenate str (not "int") to str

### 11. What games are platformers?

In [ ]:
df[df["plot summary"].str.contains(pat = 'platformer')]

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
434,434,Sonic and the Fallen Star,https://www.imdb.com/title/tt15964560/?ref_=ad...,2021.0,E,8.3,11,Sonic and The Fallen Star is a 2D speed-based ...,True,True,False,False,True,False,False,False,False
838,836,A Hat in Time,https://www.imdb.com/title/tt3642956/?ref_=adv...,2017.0,E10+,8.1,324,A Hat in Time is a cute-as-heck 3D platformer ...,True,True,False,False,True,False,False,False,False
904,902,The Last Airbender,https://www.imdb.com/title/tt1666339/?ref_=adv...,2010.0,NaN,4.5,285,Action adventure platformer based on the movie...,True,True,False,False,False,True,False,False,False
1085,1083,Treasure Planet,https://www.imdb.com/title/tt1602487/?ref_=adv...,2002.0,E,7.2,168,Action-adventure 3-D platformer racing game fo...,True,True,False,False,True,False,False,False,False
1813,1811,Predator,https://www.imdb.com/title/tt0311669/?ref_=adv...,1989.0,Unrated,5.7,85,Action-platformer based on the movie of the sa...,True,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18761,18759,PPL: The Animated Adventures,https://www.imdb.com/title/tt15203432/?ref_=ad...,2021.0,NaN,NaN,NaN,A challenging 2D platformer with hard boss fig...,True,False,False,False,False,True,False,False,False
19472,19470,Demolition Man,https://www.imdb.com/title/tt6748986/?ref_=adv...,1995.0,NaN,7.5,16,"Acclaim's 16-bit video game for the SNES, Gene...",False,False,False,False,False,False,False,True,False
19474,19472,Astro Bot: Rescue Mission,https://www.imdb.com/title/tt9071226/?ref_=adv...,2018.0,E10+,9.1,197,ASTRO BOT Rescue Mission is a brand new platfo...,False,False,False,False,False,False,False,True,False
19627,19625,20XX,https://www.imdb.com/title/tt5862250/?ref_=adv...,2017.0,E10+,6.6,25,20XX is a roguelike action platformer that you...,True,True,False,False,False,False,False,True,False
19723,19721,Creator Crate,https://www.imdb.com/title/tt11243630/?ref_=ad...,2021.0,NaN,NaN,NaN,CreatorCrate is a roguelike 2D platformer abou...,True,False,False,False,False,False,False,True,False

### 12. What is the most common certificate of games with ratings greater than 8.0 and votes greater than 1000?

In [ ]:
commons = df[(df.rating > 8.0) & (df.votes > 1000)]
commons.certificate.describe().top

TypeError: '>' not supported between instances of 'str' and 'float'

### 13. For games with ratings greater than the 75th percentile for ratings and a number of votes greater than the 75th percentile for votes, what is the most common genre?

In [ ]:
df = pd.read_csv('imdb-videogames.csv')

rating_threshold = df.rating.quantile(0.75)
votes_threshold = df.votes.quantile(0.75)

genres = ["Action", "Adventure", "Sci-Fi", "Thriller"]

good_games = df[(df.rating > rating_threshold) & (df.votes>votes_threshold)]

for genre in genres:
    print(genre, len(good_games[good_games[genre]==True]))

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### 14. What are the average ratings by year?

In [ ]:
pd.DataFrame(df.groupby("year").rating.mean())

TypeError: can only concatenate str (not "int") to str

### 15. For each cerficate, what was the average rating and average number of votes?

In [ ]:
df.groupby('certificate')['rating','votes'].mean()

/var/folders/70/bymcptk91fx2jgyj9tpvkq0m0000gn/T/ipykernel_10875/212000673.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('certificate')['rating','votes'].mean()
/var/folders/70/bymcptk91fx2jgyj9tpvkq0m0000gn/T/ipykernel_10875/212000673.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df.groupby('certificate')['rating','votes'].mean()

Empty DataFrame
Columns: []
Index: [12, AO, Approved, CE, E, E10+, EC, G, GA, K-A, M, MA-13, MA-17, Not Rated, PG, PG-13, Passed, T, TV-14, TV-MA, Unrated]